{# NEW partial, doesn't replace any existing file #}
<nav _class="md-tabs" aria-label="Tabs">
  <div class="md-tabs__inner md-grid">

    <label class="md-header__button md-icon iopencdms-show" for="__drawer">
      {% include ".icons/material/menu" ~ ".svg" %}
    </label>

    <ul class="md-tabs__list">
        <li class="md-tabs__item">
          <a href="/about/overview/" class="md-tabs__link md-tabs__link--active">
            ABOUT
          </a>
        </li>
<!--        <li class="md-tabs__item">
          <b> » </b>
        </li>-->
        <li class="md-tabs__item">
          <a href="/users/" class="md-tabs__link">
            USERS
          </a>
        </li>
        <li class="md-tabs__item">
          <a href="/developers/" class="md-tabs__link">
            DEVELOPERS
          </a>
        </li>
        <li class="md-tabs__item">
          <a href="/experts/" class="md-tabs__link">
            EXPERTS
          </a>
        </li>
        <li class="md-tabs__item">
          <a href="/organisations/" class="md-tabs__link">
            ORGANISATIONS
          </a>
        </li>
    </ul>

  </div>
</nav>
