{# NEW partial, doesn't replace any existing file #}
<nav _class="md-tabs" aria-label="Tabs">
  <div class="md-tabs__inner md-grid">

    <label class="md-header__button md-icon iopencdms-show" for="__drawer">
      {% include ".icons/material/menu" ~ ".svg" %}
    </label>

    <ul class="md-tabs__list">
        <li class="md-tabs__item">
          <a href="/about/overview/" class="md-tabs__link md-tabs__link--active">
            ABOUT
          </a>
        </li>
        <li class="md-tabs__item"> || </li>
        <li class="md-tabs__item">
          <a href="https://api.opencdms.org/" class="md-tabs__link">
            API DEMO
          </a>
        </li>
        <li class="md-tabs__item">
          <a href="https://beta.opencdms.org" class="md-tabs__link">
            APP DEMO
          </a>
        </li>
        <li class="md-tabs__item">
          <a href="http://db.opencdms.org:8978" class="md-tabs__link">
            DATABASE DEMO
          </a>
        </li>
        <li class="md-tabs__item">
          <a href="https://docs.opencdms.org" class="md-tabs__link">
            DOCUMENTATION
          </a>
        </li>
    </ul>

  </div>
</nav>
